* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    min-height: 70px;
}
.navbar-brand{
    margin-left: 50px;
}
.navbar-brand a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.navbar-menu{
    display: flex;
    list-style: none;
    margin-right: 50px;
}
.navbar-menu li{
    margin-left: 20px;
}
.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

/* jika tampilan screen maksimal 768px atau tampilan smartphone atau table */
@media only screen and (max-width: 768px) {
    /* navbar menu disembunyikan  */
    .navbar-menu{
        display:  none;
    }
}